# Archivos compilados (Compiled files)
*.class
*.log

# Carpetas de salida y construcción (Output and build directories)
out/
build/
bin/

# Archivos de configuración del entorno (IDE configuration files)
.idea/
*.iml

.gradle/